
.gradle/4.10.3/fileChanges/last-build.bin
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/gc.properties
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/vcs.xml
src/.idea/workspace.xml
